<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEPARTMENT DISCHARGE</title>
    <link rel="stylesheet" type="text/css" href="/employee-app/styles.css">
</head>
<body>
<div id="container">
  <h1>Crear Nuevo Departamento</h1>
  <form th:action="@{/departmentdischarge}" th:object="${dept}" method="post">
    <div class="form-group">
      <label for="deptId">Número de Departamento:</label>
      <input type="number" id="deptId" name="id" min="1" max="2147483647" required>
    </div>
    <div class="form-group">
      <label for="deptName">Nombre:</label>
      <input type="text" id="deptName" name="dname" maxlength="14" required>
    </div>
    <div class="form-group">
      <label for="deptLoc">Ubicación:</label>
      <input type="text" id="deptLoc" name="loc" maxlength="13" required>
    </div>
    <div class="button-container">
      <button class="form_button" type="submit">Crear Departamento</button>
    </div>
  </form>
  <div th:if="${message}" id="message-container">
    <p th:text="${message}" id="message-text" th:class="${theme != null ? theme + '-theme' : 'default-theme'}"></p>
  </div>
  <div class="button-container">
    <a href="/employee-app"><button class="button">Volver a la página de inicio</button></a>
  </div>
</div>
</body>
</html>