<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API REST</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <div id="container">
        <h1>MI API REST</h1>
        <h2>Seleccione una opción</h2>
        <div class="button-container">
            <a href="#"><button class="button">Ver Empleados</button></a>
            <a href="http://localhost:8080/employee-app/seedepartments"><button class="button">Ver Departamentos</button></a>
        </div>
        <div class="button-container">
            <a href="#"><button class="button">Alta Empleados</button></a>
            <a href="#"><button class="button">Alta Departamentos</button></a>
        </div>
    </div>
</body>
</html>