<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEPARTMENTS</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div id="container">
        <h1>Lista de Departamentos</h1>
        <table class="details-table">
            <thead>
            <th>Número de Departamento</th>
            <th>Nombre</th>
            <th>Ubicación</th>
            </thead>
            <tbody>
            <tr th:each="dept : ${depts}">
                <td th:text="${dept.id}"></td>
                <td th:text="${dept.dname}"></td>
                <td th:text="${dept.loc}"></td>
            </tr>
            </tbody>
        </table>
        <div class="button-container">
            <a href="http://localhost:8080/"><button class="button">Volver a la página de inicio</button></a>
        </div>
    </div>
</body>
</html>