<!DOCTYPE html>
<html>
<head>
    <title>EMPLOYEES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/employee-app/styles.css">
</head>
<body>
<div id="container">
    <h1>Lista de Empleados</h1>
    <table class="list-detail-table">
        <thead>
            <th>Número de Empleado</th>
            <th>Nombre</th>
            <th>
                <select id="selectDept" onchange="changeDept()">
                    <option value="" th:selected="${selectedDept != null}">Selecciona un departamento</option>
                    <option th:each="dept : ${departments}"
                            th:value="${dept.id}"
                            th:text="${dept.dname}"
                            th:selected="${selectedDept != null && selectedDept.id == dept.id}">
                    </option>
                </select>

            </th>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.ename}"></td>
            <td><a th:href="${'/employee-app/viewemployee?id=' + employee.id}" class="details-icon" title="Ver detalles">
                <i class="fas fa-info-circle"></i>
            </a></td>
        </tr>
        </tbody>
    </table>
    <div class="button-container">
        <a href="/employee-app/index"><button class="button"><i class="fas fa-home"></i> Volver a la página de inicio</button></a>
    </div>
</div>
<script>
    function changeDept() {
        var deptno = document.getElementById("selectDept").value;
        if (!deptno || deptno === "")
            window.location.href = "/employee-app/viewemployees";
        else
            window.location.href = "/employee-app/viewemployees?deptno=" + deptno;
    }
</script>
</body>
</html>