<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:object="${employee}" th:text="'EMPLOYEE '+ ${employee.id}"></title>
  <link rel="stylesheet" type="text/css" href="/employee-app/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div id="container">
  <h1>Detalles del Empleado</h1>
  <table class="details-table">
    <tbody th:object="${employee}">
    <tr>
      <td class="detail-title">Número de Empleado</td>
      <td th:text="${employee.id}"></td>
    </tr>
    <tr>
      <td class="detail-title">Nombre</td>
      <td th:text="${employee.ename}"></td>
    </tr>
    <tr>
      <td class="detail-title">Trabajo</td>
      <td th:text="${employee.job}"></td>
    </tr>
    <tr>
      <td class="detail-title">Departamento</td>
      <td id="department-link"><a th:href="${'/employee-app/viewdepartment?id=' + employee.deptno.id}" th:text="${employee.deptno.id}"></a></td>
    </tr>
    </tbody>
  </table>
  <div class="button-container">
    <a href="/employee-app/viewemployees"><button class="button"><i class="fas fa-arrow-left"></i>Volver atrás</button></a>
  </div>
</div>
</body>
</html>