<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:object="${department}" th:text="'DEPARTMENT '+ ${department.id}"></title>
    <link rel="stylesheet" type="text/css" href="/employee-app/styles.css">
</head>
<body>
<div id="container">
    <h1>Detalles del Empleado</h1>
    <table class="details-table">
        <tbody th:object="${department}">
        <tr>
            <td class="detail-title">Número de Departamento</td>
            <td th:text="${department.id}"></td>
        </tr>
        <tr>
            <td class="detail-title">Nombre</td>
            <td th:text="${department.dname}"></td>
        </tr>
        <tr>
            <td class="detail-title">Ubicación</td>
            <td th:text="${department.loc}"></td>
        </tr>
        </tbody>
    </table>
    <div class="button-container">
        <a href="/employee-app/viewdepartments"><button class="button">Volver atrás</button></a>
    </div>
</div>
</body>
</html>