<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EMPLOYEES</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div id="container">
  <h1>Lista de Empleados</h1>
  <table class="list-detail-table">
    <thead>
    <th>Número de Empleado</th>
    <th>Nombre</th>
    <th>Trabajo</th>
    <th>Departamento</th>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
      <td th:text="${employee.id}"></td>
      <td th:text="${employee.ename}"></td>
      <td><a th:ref="${'/viewemployee?id=' + employee.id}">Detalles</a></td>
    </tr>
    </tbody>
  </table>
  <div class="button-container">
    <a href="/"><button class="button">Volver a la página de inicio</button></a>
  </div>
</div>
</body>
</html>