<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEPARTMENTS</title>
    <link rel="stylesheet" type="text/css" href="/employee-app/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div id="container">
        <h1>Lista de Departamentos</h1>
        <table class="list-detail-table">
            <thead>
                <th>Número de Departamento</th>
                <th>Nombre</th>
                <th></th>
            </thead>
            <tbody>
            <tr th:each="dept : ${depts}">
                <td th:text="${dept.id}"></td>
                <td th:text="${dept.dname}"></td>
                <td><a th:href="${'/employee-app/viewdepartment?id=' + dept.id}" class="details-icon" title="Ver detalles">
                    <i class="fas fa-info-circle"></i>
                </a></td>
            </tr>
            </tbody>
        </table>
        <div class="button-container">
            <a href="/employee-app"><button class="button"><i class="fas fa-home"></i> Volver a la página de inicio</button></a>
        </div>
    </div>
</body>
</html>