body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #547556, #58a05c, #58a05c);
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.welcome-text {
    font-size: 100px;
    font-family: 'Berlin Sans FB', sans-serif;
    text-align: center;
    margin-bottom: 60px;
}
.login-form {
    background: white;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 15rem;
    width: 28rem;
    text-align: center;
    color: black;
}
.login-form input {
    width: calc(100% - 30px);
    padding: 15px;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    transition: border-color 0.3s ease;
}
.login-form input:focus {
    border-width: 0.19rem;
    border-color: #58a05c;
    outline: none;
    box-shadow: 0 0 5px rgba(88, 160, 92, 0.5);
}
.login-form input::placeholder {
    color: #aaa;
    transition: color 0.3s ease;
}
.login-form input:focus::placeholder {
    color: #58a05c;
    font-weight: bold;
}
.login-form button {
    width: 100%;
    padding: 15px;
    background-color: #58a05c;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #4d8b52;
}


.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 100%;
    font-size: 16px;
    text-align: center;
}
.form-group input {
    margin-right: 50%;
}
.form-group input:checked{
    background-color: #333333;
}

.message-container {
    background: linear-gradient(to bottom, #bbbbbb, #dddddd, #aaaaaa);
    border-radius: 12px;
    padding: 0 20px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-container #logout{
    background-image: linear-gradient(to bottom, #4CAF50, #4d8b52);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
}

.message-container #error{
    background-image: linear-gradient(to bottom, #d12323, #850000);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
}
