#tab1 img{
    content: url("../static/userImg1.png");
}
#tab2 img{
    content: url("../static/productImg1.png");
}
#tab3 img{
    content: url("../static/offerImg1.png");
}
#tab4 img{
    content: url("../static/exitImg1.png");
}
#tab1 img:hover{
    content: url("../static/userImg2.png");
}
#tab2 img:hover{
    content: url("../static/productImg2.png");
}
#tab3 img:hover{
    content: url("../static/offerImg2.png");
}
#tab4 img:hover{
    content: url("../static/exitImg2.png");
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #547556;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
}
.sidebar {
    width: 120px;
    background: linear-gradient(to bottom, #58A05C, #4BBF50);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    padding-top: 20px;
}
.tab {
    width: 100px;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tab img {
    width: 6.5rem;
    transition: 0.3s;
}
.tab:hover img {
    filter: brightness(1.2);
}
.content {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
}
h1 {
    font-size: 80px;
}
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.slider-container input {
    width: 300px;
    color: #4BBF50;
}
.btn {
    width: 10rem;
    background: linear-gradient(to bottom, #4BBF50, #58A05C);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}
.btn:hover {
    background: linear-gradient(to bottom, #58A05C, #4d8b52);
}

