<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger Registration</title>
    <link rel="stylesheet" type="text/css" href="/flights-api-rest/styles.css">
</head>
<body>
<div class="container">
    <h1>Passenger Registration</h1>
    <div class="ticket_form_container">
        <form th:object="${passenger}" th:method="post" th:action="@{/passenger_registration}">
            <div class="ticket_form">
                <label for="passportno">Passport Number:</label>
                <input type="text" id="passportno" name="passportno"
                       th:field="*{passportno}"
                       minlength="6"
                       maxlength="10"
                       required readonly>
            </div>
            <div class="ticket_form">
                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname"
                       th:field="*{firstname}"
                       maxlength="20"
                       required>
            </div>
            <div class="ticket_form">
                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname"
                       th:field="*{lastname}"
                       maxlength="20"
                       required>
            </div>
            <div class="ticket_form">
                <label for="address">Address:</label>
                <input type="text" id="address" name="address"
                       th:field="*{address}"
                       maxlength="100"
                       required>
            </div>
            <div class="ticket_form">
                <label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone"
                       th:field="*{phone}"
                       minlength="7"
                       maxlength="12"
                       required>
            </div>
            <div class="ticket_button">
                <button type="submit">Add</button>
            </div>
        </form>
        <div th:if="${message}" id="message-container">
            <p id="message-text" th:text="${message}" th:class="${theme != null ? theme + '-theme' : 'default-theme'}"></p>
        </div>
    </div>
</div>
</body>
</html>
