<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/sAppLoginStyles.css"> <!--"/seller-app/sellerAppStyles.css"-->
  <title>Login View</title>
</head>
<body>
<div class="container">
  <div class="welcome-text">WELCOME</div>
  <form class="login-form">
    <label>
      <input type="text" placeholder="Username" required>
    </label>
    <label>
      <input type="password" placeholder="Password" required>
    </label>
    <button type="submit">Login</button>
  </form>
  <div th:if="${message}" id="message-container">
    <p th:text="${message}" id="message-text" th:class="${theme != null ? theme + '-theme' : 'default-theme'}"></p>
  </div>
</div>
</body>
</html>