<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Data</title>
    <link rel="stylesheet" type="text/css" href="/sellerAppStyles.css">
</head>
<body>
<div class="container">
    <div class="sidebar">

        <img src="/userImg1.png" alt="Icon 1">
        <img src="/productImg1.png" alt="Icon 2">
        <img src="/offerImg1.png" alt="Icon 3">
        <form th:action="@{/logout}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit"><img src="/exitImg1.png" alt="Icon 4"></button>
        </form>
    </div>
    <div class="form-section">
        <h2>Seller Data</h2>
        <form th:object="${seller}">
            <div class="form-group">
                <label for="cif">CIF:</label>
                <input type="text" id="cif" name="cif" th:value="*{cif}" readonly required>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" th:value="*{name}" required>
            </div>
            <div class="form-group">
                <label for="business">Business name:</label>
                <input type="text" id="business" name="business" th:value="*{businessName}" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="tel" id="phone" name="phone" th:value="*{phone}" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:value="*{email}" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="password-confirm">Repeat password:</label>
                <input type="password" id="password-confirm" name="password-confirm" required>
            </div>
            <button type="submit">Ok</button>
        </form>
        <div th:if="${message}" id="message-container">
            <p th:text="${message}" id="message-text" th:class="${theme != null ? theme + '-theme' : 'default-theme'}"></p>
        </div>
    </div>
</div>
</body>
</html>
