<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Data</title>
    <link rel="stylesheet" type="text/css" href="/sellerAppStyles.css">
</head>
<body>
<div class="container">
    <div class="sidebar">
        <img src="/userImg1.png" alt="Icon 1">
        <a th:href="@{/products}"><img src="/productImg1.png" alt="Icon 2"></a>
        <img src="/offerImg1.png" alt="Icon 3">
        <form th:action="@{/logout}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button id="logoutButton" type="submit"><img src="/exitImg1.png" alt="Icon 4"></button>
        </form>
    </div>
    <div class="form-section">
        <h2>Seller Data</h2>
        <form th:action="@{/seller_data}" method="post" th:object="${sellerDTO}">
            <div class="form-group">
                <label for="cif">CIF:</label>
                <input type="text" id="cif" name="cif" th:value="${sellerDTO.getCif()}" readonly required>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" th:value="${sellerDTO.getName()}" required>
            </div>
            <div class="form-group">
                <label for="business_name">Business name:</label>
                <input type="text" id="business_name" name="businessName" th:value="${sellerDTO.getBusinessName()}" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="tel" id="phone" name="phone" th:value="${sellerDTO.getPhone()}" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:value="${sellerDTO.getEmail()}" required>
            </div>
            <div class="form-group">
                <label for="url">URL:</label>
                <input type="text" id="url" name="url" th:value="${sellerDTO.getUrl()}" required>
            </div>
            <div class="form-group">
                <label for="plain_password">Password:</label>
                <input type="password" id="plain_password" name="plainPassword" th:value="${sellerDTO.getPlainPassword()}" required>
            </div>
            <div class="form-group">
                <label for="password-confirm">Repeat password:</label>
                <input type="password" id="password-confirm" name="password-confirm">
            </div>
            <div class="form-button">
                <button type="submit">Ok</button>
            </div>
        </form>
        <div th:if="${message}" id="message-container">
            <p th:text="${message}" id="message-text" th:class="${theme != null ? theme + '-theme' : 'default-theme'}"></p>
        </div>
    </div>
</div>
</body>
</html>
