body {
    background-image: linear-gradient(to bottom, #FFFFFF, #808080);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 98.906vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font: bold 8vh Berlin Sans FB;
    text-align: center;
}

h2 {
    font: 5vh Berlin Sans FB;
    text-align: center;
    color: #4b4c52;
}

#container {
    padding: 2vw;
    background-color: white;
    width: 60vw;
    min-height: 70vh;
    display: grid;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-image: linear-gradient(to bottom, #00006c, #0078f3);
    border: none;
    border-radius: 2vh;
    color: white;
    min-width: 18vw;
    min-height: 10vh;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font: bold 2.6vh Arial, sans-serif ;
    margin: 1vh 2vw;
    cursor: pointer;
}

.details-table {
    min-width: 50vw;
    min-height: 33vh;
    margin: 20px auto;
    border-collapse: collapse;
    border-style: hidden;
    font: 3vh Arial, sans-serif;
    text-align: left;
}

.details-table thead th {
    background-image: linear-gradient(to bottom, #00006c, #0078f3);
    color: white;
    padding: 0.4vw;
    border: 0.01vw solid #5a85ff;
    font: 4vh Berlin Sans FB;
    text-align: center;
}

.details-table tbody td {
    border: 0.01vw solid #ddd;
    padding: 1vh;
}

.details-table tbody tr:nth-child(even) {
    background-color: #ededed;
}

.details-table tbody tr:hover {
    background-color: #cccccc;
}

